# Godot 4+ specific ignores
.godot/
отчетность/~$Р отчет Перфильева.docx
отчетность/.$Postman life Diagrams.drawio.bkp
отчетность/.$Postman life Diagrams.drawio.dtmp
отчетность/~$Р отчет Дель.docx
*.import
